*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.d1{
    width: 100%;
    height: 100vh;
}

.first{
    width: 100%;
    height: 25%;
    background-color: aquamarine;
}

.second{
    width: 100%;
    height: 50%;
    background-color: rgb(123, 119, 230);
}
.s-child{
    width: 100%;
    height: 50%;
}
.s-left{
    background-color: chartreuse;
}
.s-right{
    background-color: rgb(157, 174, 139);
}

.third{
    width: 100%;
    height: 25%;
    background-color: rgb(165, 221, 202);
    padding: 10px;
}

.t-left{
    display: none;
}
.t-right{
    width: 100%;
    height: 100%;
    background-color: thistle;
}


@media (min-width : 768px) {

    .second{
        display: flex;
    }
    .s-child{
        height: 100%;
        width: 50%;
    }
}

@media (min-width : 1024px) {

   .first{
    height: 33%;
   }
   .second{
    height: 33%;
   }
   .s-left{
    width: 70%;
   }
   .s-right{
    width: 30%;
   }
   .third{
    height: 33%;
    display: flex;
   }
   .t-left{
    display: inline-block;
    width: 30%;
    height: 100%;
    background-color: chocolate;
   }
   .t-right{
    width: 70%;
   }
    
}